.footer {
    display: flex;
    background-color: #04364A; /* لون الخلفية */
    color: white; /* لون النص */
    text-align: center; /* محاذاة النص في المنتصف */
    padding: 10px 0; /* تباعد داخلي */
    position: absolute;
    
justify-content: center;
align-items: center;
    width: 100%;
  }
  .footer a {
    color: #64CCC5;
  }